.container{
    border: 1px solid brown;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: auto;
    background-color: rosybrown;
}
.sbmt-btn{
    background-color: green;
    padding: 13px 14px;
    border: none;
    color: white;
}
.user-name{
    color: rgb(255, 0, 200);
    font-size: 30px;
    text-align: center;
}