.contenal{
    background-image: url('/assets/images/hotel1.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
};
.btns{
    padding: 10px 6px;
    margin: 5px;
    
}
.btn-contenar{
    position: relative;
    top: 25px;
}